#footer-container.hide-footer {
    display: none;
}

#footer-container.show-footer {
    display: inherit;
}


#footer {
    padding-bottom: 0.2rem !important;
    background-color: var(--bgcolor-secondary);
}

#footer .social-footer-wrappper {
    color: var(--text-sub-header);
    font-size: 2em;
    padding: 1rem;
    z-index: 150;
    width: 100%;
}

#footer .social-footer-wrappper .tag--page-self-link {
    color: var(--text-sub-header);
    transition: .5s ease-in;
    font-size: 1.8rem;
    padding: 1rem;
}

#footer .social-footer-wrappper .tag--page-self-link:hover {
    color: var(--text-hover);
}


#footer .social-footer-wrappper .med-text {
    font-size: 0.9rem !important;
}

#footer .copyright-stamp {
    text-align: center;
    -webkit-text-align: center;
    padding: 0 1rem !important;
    font-size: 0.9rem !important;
    color: var(--text-contrast);
}