
[data-years="1.0"] {
    width: 10% !important;
}


[data-years="1.1"] {
    width: 11% !important;
}

[data-years="1.2"] {
    width: 12% !important;
}


[data-years="1.3"] {
    width: 13% !important;
}


[data-years="1.4"] {
    width: 14% !important;
}

[data-years="1.5"] {
    width: 15% !important;
}

[data-years="1.6"] {
    width: 16% !important;
}

[data-years="1.7"] {
    width: 17% !important;
}

[data-years="1.8"] {
    width: 18% !important;
}

[data-years="1.9"] {
    width: 19% !important;
}

[data-years="2.0"] {
    width: 20% !important;
}

[data-years="2.1"] {
    width: 21% !important;
}

[data-years="2.2"] {
    width: 22% !important;
}

[data-years="2.3"] {
    width: 23% !important;
}

[data-years="2.4"] {
    width: 24% !important;
}

[data-years="2.5"] {
    width: 25% !important;
}

[data-years="2.6"] {
    width: 26% !important;
}

[data-years="2.7"] {
    width: 27% !important;
}

[data-years="2.8"] {
    width: 28% !important;
}

[data-years="2.9"] {
    width: 29% !important;
}

[data-years="3.0"] {
    width: 30% !important;
}

[data-years="3.1"] {
    width: 31% !important;
}

[data-years="3.2"] {
    width: 32% !important;
}

[data-years="3.3"] {
    width: 33% !important;
}

[data-years="3.4"] {
    width: 34% !important;
}

[data-years="3.5"] {
    width: 35% !important;
}

[data-years="3.6"] {
    width: 36% !important;
}

[data-years="3.7"] {
    width: 37% !important;
}

[data-years="3.8"] {
    width: 38% !important;
}

[data-years="3.9"] {
    width: 39% !important;
}

[data-years="4.0"] {
    width: 40% !important;
}

[data-years="4.1"] {
    width: 41% !important;
}

[data-years="4.2"] {
    width: 42% !important;
}

[data-years="4.3"] {
    width: 43% !important;
}

[data-years="4.4"] {
    width: 44% !important;
}

[data-years="4.5"] {
    width: 45% !important;
}

[data-years="4.6"] {
    width: 46% !important;
}

[data-years="4.7"] {
    width: 47% !important;
}

[data-years="4.8"] {
    width: 48% !important;
}

[data-years="4.9"] {
    width: 49% !important;
}

[data-years="5.0"] {
    width: 50% !important;
}

[data-years="5.1"] {
    width: 51% !important;
}

[data-years="5.2"] {
    width: 52% !important;
}

[data-years="5.3"] {
    width: 53% !important;
}

[data-years="5.4"] {
    width: 54% !important;
}

[data-years="5.5"] {
    width: 55% !important;
}

[data-years="5.6"] {
    width: 56% !important;
}

[data-years="5.7"] {
    width: 57% !important;
}

[data-years="5.8"] {
    width: 58% !important;
}

[data-years="5.9"] {
    width: 59% !important;
}

[data-years="6.0"] {
    width: 60% !important;
}

[data-years="6.1"] {
    width: 61% !important;
}

[data-years="6.2"] {
    width: 62% !important;
}

[data-years="6.3"] {
    width: 63% !important;
}

[data-years="6.4"] {
    width: 64% !important;
}

[data-years="6.5"] {
    width: 65% !important;
}

[data-years="6.6"] {
    width: 66% !important;
}

[data-years="6.7"] {
    width: 67% !important;
}

[data-years="6.8"] {
    width: 68% !important;
}

[data-years="6.9"] {
    width: 69% !important;
}

[data-years="7.0"] {
    width: 70% !important;
}

[data-years="7.1"] {
    width: 71% !important;
}

[data-years="7.2"] {
    width: 72% !important;
}

[data-years="7.3"] {
    width: 73% !important;
}

[data-years="7.4"] {
    width: 74% !important;
}

[data-years="7.5"] {
    width: 75% !important;
}

[data-years="7.6"] {
    width: 76% !important;
}

[data-years="7.7"] {
    width: 77% !important;
}

[data-years="7.8"] {
    width: 78% !important;
}

[data-years="7.9"] {
    width: 79% !important;
}

[data-years="8.0"] {
    width: 80% !important;
}

[data-years="8.1"] {
    width: 81% !important;
}

[data-years="8.2"] {
    width: 82% !important;
}

[data-years="8.3"] {
    width: 83% !important;
}

[data-years="8.4"] {
    width: 84% !important;
}

[data-years="8.5"] {
    width: 85% !important;
}

[data-years="8.6"] {
    width: 86% !important;
}

[data-years="8.7"] {
    width: 87% !important;
}

[data-years="8.8"] {
    width: 88% !important;
}

[data-years="8.9"] {
    width: 89% !important;
}

[data-years="9.0"] {
    width: 90% !important;
}

[data-years="9.1"] {
    width: 91% !important;
}

[data-years="9.2"] {
    width: 92% !important;
}

[data-years="9.3"] {
    width: 93% !important;
}

[data-years="9.4"] {
    width: 94% !important;
}

[data-years="9.5"] {
    width: 95% !important;
}

[data-years="9.6"] {
    width: 96% !important;
}

[data-years="9.7"] {
    width: 97% !important;
}

[data-years="9.8"] {
    width: 98% !important;
}

[data-years="9.9"] {
    width: 99% !important;
}

[data-years="10.0"] {
    width: 100% !important;
}