@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, hgroup, menu, header, section, summary {
    display: block
}

audio, canvas, progress, video {
    vertical-align: baseline
}

a:active, a:hover {
    color: cornflowerblue;
}

a {
    color: whitesmoke;
}


b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 1.5em;
}

h2 {
    display: block;
    text-align: center;
    font-size: calc(10px + 0.5vw);
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}


figure {
    margin: 1em 40px
}

hr {
    height: calc(100px + 5vh);
    color: black;
    border: black;
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}


body {
    background-color: #0c0c0c;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.container {
    height: 100%;
    width: 100%;
}

.navbar {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 60px;
    height: 10vh;
    background-color: black;
    z-index: 10;

}


.nav--items > a {
    display: inline-block;
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: -3vh;
    font-size: calc(8px + 0.5vw);
    text-decoration: none;

}

.nav--items img {
    position: relative;
    margin-top: 1vh;
    margin-left: 0.3vw;
    float: left;

}

.nav--items img:hover {
    background-color: navajowhite;
    border-radius: 50%;
}

.container .main--body {
    margin-top: calc(7% + 4vh);
}


.intro h4 {
    text-align: center;
}

.intro h2 {
    display: block;
    position: relative;
    text-align: center;
}

.intro h4 > a {
    font-size: calc(4px + 1vw);
    color: blue;
    text-decoration: none;
}


.main--body .intro .intro--icons {
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;

}

.main--body .intro .intro--icons img {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    height: calc(20px + 1vw);
    transition: transform .2s;


}

.main--body .intro .intro--icons img:hover {
    cursor: pointer;
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3);
}

.intro .intro--image img {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
    border-radius: 75%;
}


.work--grid {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 2em;
    grid-row-gap: 4em;
    align-content: center;


}

.work--grid .piece .project--pic img {
    height: calc(250px + 20vh);
    width: auto;

}

.work--grid > div {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

.work--grid .grid1 {
    grid-column: 1/ span 4;
    grid-row: 1;
}

.work--grid .grid2 {
    grid-column: 1/ span 4;
    grid-row: 2;

}

.work--grid .grid3 {
    grid-column: 1/ span 4;
    grid-row: 3;

}

.work--grid .grid4 {
    grid-column: 1/ span 4;
    grid-row: 4;

}


.about {
    display: block;
    position: relative;


}

.about--banner {
    text-align:left;
    color: grey;
}

.about--banner::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 200px;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
    border: 5px solid #0f33ff;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.about--banner::after {
    content: "";
    position: absolute;
    top: 75px;
    left: 400px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: #0f33ff
}

.about--banner p {
    position: relative;
    margin: 6vh 0 6vh 15vw;
    font-size: calc(8px + 1vw);
    padding: 0.5vw;
    font-weight: 400;
    cursor: pointer;
    line-height: 1;
    transition: color 2s;

}
.about--banner p:hover{
    color: cornflowerblue;
}

.about--banner p::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 268px;
    width: 30px;
    height: 30px;
    background-color: #0f33ff;
    border-radius: 50%
}

.about--banner p::after {
    content: "";
    position: absolute;
    top: 255px;
    left: 255px;
    width: 10px;
    height: 10px;
    background-color: #0f33ff
}

.about--banner a {
    padding: 5px 17px 5px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent
}

.about--banner a:hover svg {
    left: 10px
}

.about--banner a svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out
}


.about--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    padding: 0;
    list-style: none
}

.about--options > a {
    position: relative;
    width: 150px;
    height: 75px;
    text-decoration: none;
    color: #fff;
    border: 1px solid blue;
    background-position: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat

}

.about--options > a:nth-child(1):hover {
    background-image: url("../icon/githubIcon.png");
    opacity: 20%;
}

.about--options > a:nth-child(2):hover {
    background-image: url("../icon/gsu-logo.jpg");
    opacity: 20%;

}

.about--options > a:nth-child(3):hover {
    background-image: url("../img/O_Java-SE-8-OCA-clr.bmp");
    background-color: white;
    opacity: 20%;

}

.about--options > a:nth-child(4):hover {
    background-image: url("../icon/about-profesh.jpg");
    opacity: 20%;

}

.about--options > a:nth-child(5):hover {
    background-image: url("../icon/immersive-atlanta.png");
    opacity: 20%;
}

.about--options > a:hover h3 {
}

.about--options h3 {
    font-size: calc(7px + 0.6vw);
    bottom: -38px;
    left:10px;
    text-transform: uppercase;
    -webkit-transition: bottom .2s ease-in-out, left .2s ease-in-out;
    transition: bottom .2s ease-in-out, left .2s ease-in-out
}


.contact {
    display: block;
    position: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-block: auto;
    margin-bottom: 50px;
}


.contact h2 {
    text-align: center;
    margin-bottom: 5vh;
}


.contact .contact-form {
    display: block;
    position: center;
    padding: 20px;
    margin: 50px auto;
    border: 6px solid #8FB5C1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

}

.contact .contact-form > label {
    display: block;
    font-size: 15px;
    text-align: center;
    -webkit-text-fill-color: black;
    margin: 15px;
    width: 450px;
    border: 1px solid #CEE1E8;
    padding: 4px;


}

.contact .contact-form > select {
    display: block;
    align-content: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
}

.contact .contact-form > textarea {
    display: block;
    align-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    -webkit-text-fill-color: black;


}


.contact .contact-form input[type="submit"] {
    display: block;
    width: 100px;
    -moz-margin-start: 15px;
    background-color: blue;
    color: #FFF;
    border: none;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    -moz-border-radius: 8px;
}

.contact .contact-form input {
    -webkit-text-fill-color: black;
    margin-top: 15px;
    margin-bottom: 15px;

}


.contact .contact--links {
    display: inline-block;
    position: relative;
    align-content: center;
    text-align: center;
}

.contact .contact--links img {
    height: 60px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;

}


@media (max-width: 1180px) {

}


@media (max-width: 900px) {



    }


@media (max-width: 767px) {



}

@media (max-width: 600px) {


}






