[data-theme="dark"] {
    --text-primary: #caf0f8;
    --text-secondary: #cedfff;
    --text-contrast: #ffffff;
    --text-high-contrast: #2f2f2f;
    --text-hover: #4800ff;
    --text-header: #f5f6fc;
    --text-sub-header: #cdd9e5;
    --text-sub-title: #9a8a8a;
    --bgcolor-primary: rgba(6, 18, 35, 0.94);
    --bgcolor-secondary: #0e0e0e;
    --icon-primary: var(--text-primary);
    --icon-hover: var(--text-hover);
    --theme-transition: 0.5s ease-out;
    transition: var(--theme-transition);
}

[data-theme="light"] {
    --text-primary: #000000;
    --text-secondary: #11203c;
    --text-contrast: #000000;
    --text-high-contrast: #fff1f1;
    --text-hover: #2323ff;
    --text-header: #001068;
    --text-sub-title: #3b3a3a;
    --text-sub-header: #08335d;
    --bgcolor-primary: rgba(217, 231, 250, 0.94);
    --icon-primary: var(--text-primary);
    --bgcolor-secondary: #f3f3fe;
    --icon-hover: var(--text-hover);
    --theme-transition: 0.5s ease-out;
    transition: var(--theme-transition);
}

* {
    transition: var(--theme-transition);
}


@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: var(--bgcolor-secondary);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%F
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
header,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    vertical-align: baseline;
}

a {
    color: var(--icon-primary);
    text-decoration: none !important;
    transition: .5s ease-in;
}

a :hover {
    text-decoration: none !important;
    color: var(--icon-hover) !important;
}

.section--header {
    color: var(--text-header);
}

.contact h2 {
    color: var(--text-header);
    font-size: calc(3vh + 1vw);
    margin-bottom: calc(8vh + 2vw);
    z-index: 150;
}

.contact a {
    font-size: 4rem
}

.project--sub-text {
    color: var(--text-sub-title) !important;
}

.projects--grid .badge {
    color: var(--text-contrast) !important;
}

.projects--grid .section--header {
    color: var(--text-header);
    font-size: calc(3vh + 1vw);
    margin-bottom: 2vw;
    vertical-align: center;
    z-index: 150;
    text-align: center;
    width: 100%;
}

#footer {
    padding-bottom: 0.2rem !important;
    background-color: var(--bgcolor-primary);
}

#footer .social-footer-wrappper {
    color: var(--text-sub-header);
    font-size: calc(3vh + 1vw);
    padding: 1rem;
    z-index: 150;
    width: 100%;
}

#footer .social-footer-wrappper .tag--page-self-link {
    color: var(--text-sub-header);
    transition: .5s ease-in;
    font-size: calc(2vh + 1vw);
    padding: 1rem;
}

#footer .social-footer-wrappper .tag--page-self-link:hover {
    color: var(--text-hover);
}

#footer .copyright-stamp {
    text-align: center;
    -webkit-text-align: center;
    font-size: 0.9rem !important;
    color: var(--text-contrast);
}

#nav-title {
    color: var(--text-primary);
    text-decoration: none;
    transition: .9s ease-in-out;
    -webkit-transition: .9s ease-in-out;
    -moz-transition: .9s ease-in-out;
    -o-transition: .9s ease-in-out;
}


#nav-title:hover {
    color: var(--text-hover);
    text-decoration: none !important;
    transition: .9s ease-out;
    -webkit-transition: .9s ease-out;
    -moz-transition: .9s ease-out;
    -o-transition: .9s ease-out;
}

b,
strong {
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

h2 {
    display: block;
    text-align: center;
    color: var(--text-secondary);
    font-size: calc(10px + 0.3vw + 0.2vh);
}

small {
    font-size: 90%
}

hr {
    height: 2px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

fieldset {
    border: 1px solid #013A63;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}

/* --------------------------------- Background image overlays ---------------------------------- */

.astronaut-flying-towards-overlay {
    position: relative;
    display: block;
    background: url("../img/astronaut-flying-towards-view.png") no-repeat center;
    background-size: contain;
    z-index: 0;
}

.splash-one-overlay {
    position: relative;
    display: block;
    background: url("../img/blue__splash.png") no-repeat center;
    background-size: cover;
    z-index: 0;
}


.main-container .main--body {
    width: 100%;
    overflow: hidden;
}


/* -------------------------------Theme Swtich ------------------------------------ */

.theme-switch-container {
    display: inline-flex;
    background: var(--color-secondary);
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.theme-switch-container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 2.6rem;
    height: 1.4rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
    box-shadow: 0 0px 15px #2020203d;
    background: white url('../icon/night-mode-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

input:checked+.slider {
    background-color: #001c33;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    transform: translateX(1rem);
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    background: white url('../icon/sun-light-theme-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*  ------------------------------------------- Contact ------------------------------------------------------ */

.contact-form-alert {
    z-index: 99999;
    padding: 20px;
    background-color: #5e257a;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
}

.close--btn {
    margin-left: 15px;
    margin-right: 2px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.close--btn:hover {
    color: var(--text-hover);
}

.hide--h {
    display: none;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

.show--s {
    display: inherit;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

.main-container {
    display: block;
    padding: 41px 0 0 0;
    width: 100%;
    overflow: hidden;
}

/* ------------------------------------------------ Navbar + Nav Items ---------------------------------------------------- */

.top--navbar {
    display: inline-block;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 41px;
    max-height: 275px;
    background-color: var(--bgcolor-primary);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 99999;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

.section--heading>h1 {
    display: block;
    margin-bottom: 3rem;
    text-align: center;
    align-content: center;
    -webkit-align-content: center;
    color: var(--text-hover);
    font-size: calc(2em + 0.5vw + 0.5vh);
    opacity: 50%;
    transition: color 2s, opacity 1s;
    -webkit-transition: color 2s, opacity 1s;
    -moz-transition: color 2s, opacity 1s;
    -o-transition: color 2s, opacity 1s;
}

.section--heading>h1:hover {
    color: var(--text-hover);
    opacity: 100%;
    transition: .9s ease-in-out;
    -webkit-transition: .9s ease-in-out;
    -moz-transition: .9s ease-in-out;
    -o-transition: .9s ease-in-out;

}

.nav--items .social--full .social--link {
    margin: 0.5rem;
    font-size: 1.4rem;
    color: var(--icon-primary);
}

.nav--items .social--full .social--link :hover {
    color: var(--icon-hover);
}


.nav--items .mobile--nav {
    display: none;
    margin-top: 20px;

}

.nav--items .mobile--nav>.row .float-left>ul>li {
    list-style-type: none;
}

.nav--items .mobile--nav>.row .float-left>ul>li>a {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav--items div>a {
    width: 30px;
}

.nav--items div a:active {
    background-color: #2C7DA0;
}

.nav--items div>a>img {
    width: 25px;
}

.nav--items div>.fork-on-github>img {
    width: 3.5rem;
    height: auto;
    border-radius: 1px;
    margin-right: 3rem;
    margin-bottom: 0.4rem;

}

.nav--items .home--nav-link {
    margin-right: 3rem;
}

.nav--items .res--links>a {
    font-size: 1.1rem;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    color: var(--text-primary);
}

.nav--items .res--links>a:hover {
    color: var(--text-hover);
}

.nav--items .res--links>a :active {
    color: var(--text-hover);
}

.nav--items a>img {
    border-radius: 50%;
}


/* ------------------------------------------------ Blog ---------------------------------------------------- */

.blog-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: -50px;
    padding: 0;
    margin: 0;
    border: 0;
}

.blog-container iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: -50px;
    padding: 0;
    margin: 0;
    border: 0;
}

/* -------------------------------------------- Mobile Menu Buttons ---------------------------------------------- */

.nav--items .mobile-nav-toggle {
    display: none;

}

/*  -------------------------------------------------- Intro ------------------------------------------------------  */
.intro--wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--bgcolor-primary);
    height: calc(100vh - 40px);
}


.intro--wrapper:after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -10;
    background: var(--bgcolor-secondary);
    transform: skew(0deg, -19deg);
    -webkit-transform: skew(0deg, -19deg);
    -moz-transform: skew(0deg, -19deg);
    -o-transform: skew(0deg, -19deg);
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.intro--wrapper:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 100%;
    background: var(--bgcolor-secondary);
    transform: skew(0deg, 9deg);
    -webkit-transform: skew(0deg, 9deg);
    -moz-transform: skew(0deg, 9deg);
    -o-transform: skew(0deg, 9deg);
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.intro--wrapper #intro-message-body {
    color: var(--text-primary);
    z-index: 999999999 !important;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.intro--wrapper #intro-message-body .ex-large-text {
    font-size: calc(6vh + 3vw) !important;
}

.intro--wrapper #intro-message-body .med-large-text {
    font-size: calc(3vh + 0.5vw) !important;
}

.intro--wrapper #intro-message-body .med-med-text {
    font-size: calc(1vh + 1vw) !important;
}

.intro--wrapper #intro-message-body .med-main-message-text {
    font-size: calc(1.5vh + 0.7vw) !important;
}

.intro--wrapper #intro-message-body .sub--med-med-text {
    font-size: calc(0.9vh + 0.7vw) !important;
}


.intro--arrow-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.keep-scrolling-message {
    opacity: 0;
}


.intro--arrow-container .intro--arrow {
    display: flex;
    position: absolute;
    opacity: 0;
    z-index: 9999 !important;
    width: 100%;
    justify-content: center;
    bottom: 0;
    font-size: calc(10vh + 0.7vw) !important;
    color: var(--text-primary);
}


.intro {
    padding: calc(0.1vh + 2vw);
    margin-top: calc(0.1vh + 2vw);
}

.intro .intro--image img {
    margin-top: 1.5rem !important;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100% !important;
    height: 100% !important;
    z-index: 10;
}

.projects--scroll-help-image {
    margin: 0 auto;
    width: 100%;
}

.projects--scroll-help-image img {
    max-height: calc(50px + 4vh + 4vw);
    object-fit: fill;
    z-index: 999;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

.about--scroll-help-image img {
    object-fit: fill;
    z-index: 999;
    padding: 0.3rem !important;
    margin: 0 5vw 5vh 1vh;
    opacity: 99.9%;
    max-height: calc(50px + 4vh + 4vw);
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

.scroll--help-image img {
    object-fit: fill;
    z-index: 999;
    margin: 0 15vw 5vh 1vh;
    opacity: 50%;
    max-height: calc(50px + 4vh + 4vw);
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

/* -------------------------------------------------------- Projects -------------------------------------------------------- */
.projects--grid {
    text-align: center;
    overflow: hidden;
}

.projects--grid h3 {
    color: var(--text-header);
}

.projects--grid h4 {
    color: var(--text-header);
}

.projects--grid h5 {
    color: var(--text-sub-header);
    font-size: 1.2rem;
}

.projects--grid .badge--image img {
    height: 9vh;
    width: auto;
}

.projects--grid img {
    border-radius: 8px 8px 8px 8px;
}

.projects--grid>a button {
    text-decoration-color: #3d3c3c;
    transition: .9s ease-in-out;
    -webkit-transition: .9s ease-in-out;
    -moz-transition: .9s ease-in-out;
    -o-transition: .9s ease-in-out;
}

.projects--grid .project--image {
    max-height: 300px;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #ffffff;
}

/* --------------------------------------------- Top Skills ---------------------------------------------- */
.section .container {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3vh;

}

.skills .section-title {
    margin-top: 3rem !important;
    margin-bottom: 1rem !important;
    width: 100% !important;
}

.skills .section-title h2:nth-child(1) {
    font-size: small;
    margin-left: 1rem;
}

.skills .section-title h2:nth-child(3) {
    font-size: small;
    margin-right: 1rem
}

.skills .container>ul li {
    list-style-type: none !important;
}

ul .skills-list {
    list-style: none !important;
    margin: 0 auto !important;
}

.skills-list {
    display: grid;
    gap: 2rem;
    width: 100% !important;
    margin-block-start: 0px;
    padding-inline-start: 0%;
}

.skills-item .wrapper {
    display: flex;
    justify-content: space-between;
    list-style-type: none !important;
    width: 100%;
    align-items: center;
    -webkit-align-items: center;
}

.skills-title,
.skills-data {
    color: var(--text-header);
    font-size: inherit;
    font-weight: inherit;
    margin-inline: 5px;
}

.skills-progress-box {
    background-color: var(--text-header);
    height: 0.7rem;
    border-radius: 20px 20px 20px 20px;

}

.skills-progress {
    background-color: var(--text-hover);
    height: 100%;
    border-radius: inherit;
}


[data-years="1.0"] {
    width: 10% !important;
}


[data-years="1.1"] {
    width: 11% !important;
}

[data-years="1.2"] {
    width: 12% !important;
}


[data-years="1.3"] {
    width: 13% !important;
}


[data-years="1.4"] {
    width: 14% !important;
}

[data-years="1.5"] {
    width: 15% !important;
}

[data-years="1.6"] {
    width: 16% !important;
}

[data-years="1.7"] {
    width: 17% !important;
}

[data-years="1.8"] {
    width: 18% !important;
}

[data-years="1.9"] {
    width: 19% !important;
}

[data-years="2.0"] {
    width: 20% !important;
}

[data-years="2.1"] {
    width: 21% !important;
}

[data-years="2.2"] {
    width: 22% !important;
}

[data-years="2.3"] {
    width: 23% !important;
}

[data-years="2.4"] {
    width: 24% !important;
}

[data-years="2.5"] {
    width: 25% !important;
}

[data-years="2.6"] {
    width: 26% !important;
}

[data-years="2.7"] {
    width: 27% !important;
}

[data-years="2.8"] {
    width: 28% !important;
}

[data-years="2.9"] {
    width: 29% !important;
}

[data-years="3.0"] {
    width: 30% !important;
}

[data-years="3.1"] {
    width: 31% !important;
}

[data-years="3.2"] {
    width: 32% !important;
}

[data-years="3.3"] {
    width: 33% !important;
}

[data-years="3.4"] {
    width: 34% !important;
}

[data-years="3.5"] {
    width: 35% !important;
}

[data-years="3.6"] {
    width: 36% !important;
}

[data-years="3.7"] {
    width: 37% !important;
}

[data-years="3.8"] {
    width: 38% !important;
}

[data-years="3.9"] {
    width: 39% !important;
}

[data-years="4.0"] {
    width: 40% !important;
}

[data-years="4.1"] {
    width: 41% !important;
}

[data-years="4.2"] {
    width: 42% !important;
}

[data-years="4.3"] {
    width: 43% !important;
}

[data-years="4.4"] {
    width: 44% !important;
}

[data-years="4.5"] {
    width: 45% !important;
}

[data-years="4.6"] {
    width: 46% !important;
}

[data-years="4.7"] {
    width: 47% !important;
}

[data-years="4.8"] {
    width: 48% !important;
}

[data-years="4.9"] {
    width: 49% !important;
}

[data-years="5.0"] {
    width: 50% !important;
}

[data-years="5.1"] {
    width: 51% !important;
}

[data-years="5.2"] {
    width: 52% !important;
}

[data-years="5.3"] {
    width: 53% !important;
}

[data-years="5.4"] {
    width: 54% !important;
}

[data-years="5.5"] {
    width: 55% !important;
}

[data-years="5.6"] {
    width: 56% !important;
}

[data-years="5.7"] {
    width: 57% !important;
}

[data-years="5.8"] {
    width: 58% !important;
}

[data-years="5.9"] {
    width: 59% !important;
}

[data-years="6.0"] {
    width: 60% !important;
}

[data-years="6.1"] {
    width: 61% !important;
}

[data-years="6.2"] {
    width: 62% !important;
}

[data-years="6.3"] {
    width: 63% !important;
}

[data-years="6.4"] {
    width: 64% !important;
}

[data-years="6.5"] {
    width: 65% !important;
}

[data-years="6.6"] {
    width: 66% !important;
}

[data-years="6.7"] {
    width: 67% !important;
}

[data-years="6.8"] {
    width: 68% !important;
}

[data-years="6.9"] {
    width: 69% !important;
}

[data-years="7.0"] {
    width: 70% !important;
}

[data-years="7.1"] {
    width: 71% !important;
}

[data-years="7.2"] {
    width: 72% !important;
}

[data-years="7.3"] {
    width: 73% !important;
}

[data-years="7.4"] {
    width: 74% !important;
}

[data-years="7.5"] {
    width: 75% !important;
}

[data-years="7.6"] {
    width: 76% !important;
}

[data-years="7.7"] {
    width: 77% !important;
}

[data-years="7.8"] {
    width: 78% !important;
}

[data-years="7.9"] {
    width: 79% !important;
}

[data-years="8.0"] {
    width: 80% !important;
}

[data-years="8.1"] {
    width: 81% !important;
}

[data-years="8.2"] {
    width: 82% !important;
}

[data-years="8.3"] {
    width: 83% !important;
}

[data-years="8.4"] {
    width: 84% !important;
}

[data-years="8.5"] {
    width: 85% !important;
}

[data-years="8.6"] {
    width: 86% !important;
}

[data-years="8.7"] {
    width: 87% !important;
}

[data-years="8.8"] {
    width: 88% !important;
}

[data-years="8.9"] {
    width: 89% !important;
}

[data-years="9.0"] {
    width: 90% !important;
}

[data-years="9.1"] {
    width: 91% !important;
}

[data-years="9.2"] {
    width: 92% !important;
}

[data-years="9.3"] {
    width: 93% !important;
}

[data-years="9.4"] {
    width: 94% !important;
}

[data-years="9.5"] {
    width: 95% !important;
}

[data-years="9.6"] {
    width: 96% !important;
}

[data-years="9.7"] {
    width: 97% !important;
}

[data-years="9.8"] {
    width: 98% !important;
}

[data-years="9.9"] {
    width: 99% !important;
}

[data-years="10.0"] {
    width: 100% !important;
}


/* ----------------------------------------------- About ----------------------------------------------- */
#about {
    content: "";
    background-color: transparent;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.about--wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--bgcolor-primary);
    height: fit-content;
    margin-top: 0;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.about--wrapper:after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    background: var(--bgcolor-secondary);
    transform: skew(0deg, -19deg);
    -webkit-transform: skew(0deg, -19deg);
    -moz-transform: skew(0deg, -19deg);
    -o-transform: skew(0deg, -19deg);
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.about--wrapper:before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    overflow-x: clip;
    background: var(--bgcolor-secondary);
    transform: skew(0deg, 9deg);
    -webkit-transform: skew(0deg, 9deg);
    -moz-transform: skew(0deg, 9deg);
    -o-transform: skew(0deg, 9deg);
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.about {
    display: block;
    position: relative;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);

}

.about .about--astronaut-image {
    height: fit-content !important;
    z-index: 9999999999999 !important;

}

.about .about--astronaut-image img {
    object-fit: fill;
    margin: 1vh 15vw 2vh 1vh;
    z-index: 9999999999999 !important;
    width: auto;
    opacity: 35%;
    max-height: calc(50px + 4vh + 4vw);
}

.about--banner {
    text-align: left;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    color: var(--text-primary);
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}

.about--banner #about-me-section-header {
    font-size: calc(3vh + 1vw);
    z-index: 9999999999999 !important;
    text-align: center;
    width: 100%;
    margin-top: -80px
}


.about--banner a {
    padding: 5px 17px 5px 0;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    transition: var(--theme-transition);
    -webkit-transition: var(--theme-transition);
    -moz-transition: var(--theme-transition);
    -o-transition: var(--theme-transition);
}


.about--banner a svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #014F86;
    -webkit-transition: left .2s ease-in-out;
    -moz-transition: left .2s ease-in-out;
    -o-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out
}

.about .about--banner .banner--image img {
    margin-bottom: 1rem !important;
    width: 35vh;
    height: auto;
    z-index: 10;
    border-radius: 10%;

}

.about .about--banner .about-me-content-body {
    font-size: calc(1.5vh + 0.7vw) !important;
    z-index: 150 !important;
}

.about .about--banner .about-me-content-body p {
    margin-bottom: 0.2rem !important;
}

.about .about--banner .about-me-content-body .new-paragraph {
    text-indent: 3ch !important;
}

.about--options {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 5vh;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about--options a {
    position: relative;
    width: 175px;
    height: 100px;
    text-decoration: none;
    color: #2A6F97;
    border: 1px solid #148d75;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    background-repeat: no-repeat;

}

.about--options>a:nth-child(2) {
    margin-bottom: 3vh;

}

.about--options>a:nth-child(2):hover {
    background-image: url("../icon/git-icon.png");
}

.about--options>a:nth-child(3) {
    margin-top: 3vh;
}

.about--options>a:nth-child(3):hover {
    background-image: url("../icon/gsu-logo.jpg");

}

.about--options>a:nth-child(4) {
    margin-bottom: 3vh;

}

.about--options>a:nth-child(4):hover {
    background-image: url("../icon/icons-java-48.png");

}

.about--options>a:nth-child(5) {
    margin-top: 3vh;


}

.about--options>a:nth-child(5):hover {
    background-image: url("../icon/linkedin_b_w_icon.png");

}

.about--options>a:nth-child(1) {
    margin-bottom: 3vh;
}

.about--options>a:nth-child(1):hover {
    background-image: url("../img/harry_star_bar.jpg");
}

.about--options a>h3 {
    position: relative;
    font-size: calc(7px + 0.6vw);
    bottom: 0;
    text-transform: uppercase;
    -webkit-transition: bottom .2s ease-in-out, left .2s ease-in-out;
    transition: bottom .2s ease-in-out, left .2s ease-in-out;
    -moz-transtion: bottom .2s ease-in-out, left .2s ease-in-out;
    -o-transition: bottom .2s ease-in-out, left .2s ease-in-out;
}


/* ------------------------------------- Downloads + Resume --------------------------------------- */
#downloads {
    content: "";
    background-color: transparent;
}

.downloads .download--image {
    position: relative;
    margin: 0 auto;
}

.downloads .download--image img {
    display: block;
    cursor: pointer;
    opacity: 1;
    height: auto;
    border-radius: 5% 5% 5% 5%;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.downloads #resume--download-icon {
    position: absolute;
    transition: .5s ease;
    font-size: 10.2rem !important;
    opacity: 0;
    width: auto;
    bottom: 0;
    left: 0;
}

.downloads .download--image:hover #resume--download-icon {
    opacity: 0.8;
}

.downloads .download--image:hover img {
    opacity: 0.3;
}

/* Contact */
.contact {
    display: block;
    position: center;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-block: auto;
    margin-bottom: 1rem !important;
}

.contact-form-label-text {
    color: var(--text-header) !important;
}

.contact .background-cover-art {
    width: 100%;
    height: auto;
    background-image: url("../img/graphics/undraw_contact_us_re_4qqt.svg");
    background-position-y: 8vh;
    background-position-x: 34vw;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}


.contact .contact--links {
    display: inline-block;
    position: relative;
    align-content: center;
    -webkit-align-content: center;
    text-align: center;
}

.contact .contact--links img {
    height: 40px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.mobile--title {
    display: none;
}


@media (max-width: 1180px) {
    .nav--items>a {
        text-decoration: none;
    }

    .nav--items a>img {
        padding: 1px 1px 1px 1px;
        transition: .9s ease-in-out;
        -webkit-transtion: .9s ease-in-out;
        -moz-transtion: .9s ease-in-out;
        -o-transtion: .9s ease-in-out;
    }

    .nav--items .home--nav-link {
        display: inline;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
    }

    .mobile--title {
        display: none;
    }
}


@media (max-width: 1142px) {
    .nav--items div>.fork-on-github>img {
        display: none;
    }

}

@media (max-width: 1018px) {
    .nav--items .home--nav-link {
        display: none;
    }
}

@media (max-width: 900px) {
    .mobile--title {
        display: none;
    }

    .nav--items a>img {
        padding: 1px 1px 1px 1px;
        transition: .9s ease-in-out;
        -webkit-transtion: .9s ease-in-out;
        -moz-transtion: .9s ease-in-out;
        -o-transtion: .9s ease-in-out;
    }

    .contact .contact-form .textarea--message {
        width: 100%;
        height: 50%;
    }

}


@media (max-width: 846px) {
    .res--links {
        display: none;
    }

    .nav--items .mobile-nav-toggle {
        display: inline-block;
        position: absolute;
        padding-left: 1rem !important;
        cursor: pointer;
        padding-top: 1rem !important;
        padding-bottom: 0.5rem;
    }

    /* ------------------------------------ Mobile nav icon animatied -------------------------------- */

    .nav--items .mobile-nav-toggle #mobile-nav-icon {
        width: 45px;
        position: relative;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: .5s ease-in-out;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        cursor: pointer;
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background-color: var(--text-primary);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon span:nth-child(1) {
        top: 0px;
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon span:nth-child(2) {
        top: 10px;
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon span:nth-child(3) {
        top: 20px;
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .nav--items .mobile-nav-toggle #mobile-nav-icon.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    .contact .contact-form .textarea--message {
        width: 100%;
        height: 25%;
    }

    .mobile--title {
        display: inline-block;
        font-size: 1.6rem;
        color: var(--text-primary)
    }

}

@media (max-width: 767px) {
    .nav--items>a {
        text-decoration: none;
    }

    .contact .contact-form .textarea--message {
        width: 100%;
        height: 50%;
    }
}