p {
    text-align: justify;
    font-family: "Droid Sans Mono Dotted", serif;
}


h1 {
    font-family: "Dancing Script", cursive;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

